<a id='section_id1'></a>
# Weather Data Exploratory Data Analysis

[Click Here for Report Notebook](report.ipynb#section_id1)

In [1]:
import pandas as pd
import numpy as np
import requests
from matplotlib import pyplot as plt

In [2]:
rainfall = pd.read_csv('../data/rainfall.csv',infer_datetime_format=True,index_col=0)
solar_exposure = pd.read_csv('../data/solar_exposure.csv',infer_datetime_format=True,index_col=0)
max_temps = pd.read_csv('../data/max_temps.csv',infer_datetime_format=True,index_col=0)

## Rainfall EDA

Lowercase column names for simplicity

In [3]:
rainfall.columns = map(str.lower, rainfall.columns)
list(rainfall.columns)

['bureau of meteorology station number',
 'year',
 'month',
 'day',
 'rainfall amount (millimetres)',
 'period over which rainfall was measured (days)',
 'quality']

Remove columns with a single value

In [4]:
for column in rainfall.columns:
    print(f'{column} has {rainfall[column].nunique()} unique values')
rainfall.drop(['bureau of meteorology station number','period over which rainfall was measured (days)'],axis=1,inplace=True)
rainfall.head(2)

bureau of meteorology station number has 1 unique values
year has 8 unique values
month has 12 unique values
day has 31 unique values
rainfall amount (millimetres) has 112 unique values
period over which rainfall was measured (days) has 1 unique values
quality has 2 unique values

              year  month  day  rainfall amount (millimetres) quality
Product code
IDCJAC0009    2013      1    1                            NaN     NaN
IDCJAC0009    2013      1    2                            NaN     NaN

Seperate dates are useful but also cumbersome for filtering. Merging dates into 1 column.

In [5]:
rainfall['date']=pd.to_datetime(rainfall[['year','month','day']])
rainfall.index= rainfall['date'] # set index as well.
rainfall.head(2)

            year  month  day  rainfall amount (millimetres) quality       date
date
2013-01-01  2013      1    1                            NaN     NaN 2013-01-01
2013-01-02  2013      1    2                            NaN     NaN 2013-01-02

Drop Nan Values

In [6]:
rainfall.info()
rainfall.dropna(axis=0, how='any', thresh=None, inplace=True)
rainfall.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2834 entries, 2013-01-01 to 2020-10-04
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           2834 non-null   int64
 1   month                          2834 non-null   int64
 2   day                            2834 non-null   int64
 3   rainfall amount (millimetres)  2679 non-null   float64
 4   quality                        2679 non-null   object
 5   date                           2834 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 155.0+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2679 entries, 2013-06-02 to 2020-10-04
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           2679 non-null   int64
 1   month                          2679 non-null   int64
 2   day                            2679 non-null   int64
 3   rainfall amount (millimetres)  2679 non-null   float64
 4   quality                        2679 non-null   object
 5   date                           2679 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 146.5+ KB

## Max Temp EDA

Lowercase column names for simplicity

In [7]:
max_temps.columns = map(str.lower, max_temps.columns)
list(max_temps.columns)

['bureau of meteorology station number',
 'year',
 'month',
 'day',
 'maximum temperature (degree c)',
 'days of accumulation of maximum temperature',
 'quality']

Remove columns with a single value

In [8]:
for column in max_temps.columns:
    print(f'{column} has {max_temps[column].nunique()} unique values')
max_temps.drop(['bureau of meteorology station number','days of accumulation of maximum temperature'],axis=1,inplace=True)
max_temps.head(2)

bureau of meteorology station number has 1 unique values
year has 8 unique values
month has 12 unique values
day has 31 unique values
maximum temperature (degree c) has 294 unique values
days of accumulation of maximum temperature has 1 unique values
quality has 2 unique values

              year  month  day  maximum temperature (degree c) quality
Product code
IDCJAC0010    2013      1    1                             NaN     NaN
IDCJAC0010    2013      1    2                             NaN     NaN

Seperate dates are useful but also cumbersome for filtering. Merging dates into 1 column.

In [9]:
max_temps['date'] = pd.to_datetime(max_temps[['year','month','day']])
max_temps.index = max_temps['date'] # set index as well.
max_temps.head(2)

,year,month,day,maximum temperature (degree c),quality,date
date,,,,,,
2013-01-01,2013,1,1,NaN,NaN,2013-01-01
2013-01-02,2013,1,2,NaN,NaN,2013-01-02

Drop Nan Values

In [10]:
max_temps.info()
max_temps.dropna(axis=0, how='any', thresh=None, inplace=True)
max_temps.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2833 entries, 2013-01-01 to 2020-10-03
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            2833 non-null   int64
 1   month                           2833 non-null   int64
 2   day                             2833 non-null   int64
 3   maximum temperature (degree c)  2682 non-null   float64
 4   quality                         2681 non-null   object
 5   date                            2833 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 154.9+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2681 entries, 2013-06-01 to 2020-10-03
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            2681 non-null   int64
 1   month                           2681 non-null   int64
 2   day                             2681 non-null   int64
 3   maximum temperature (degree c)  2681 non-null   float64
 4   quality                         2681 non-null   object
 5   date                            2681 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 146.6+ KB

## Solar Exposure EDA

Lowercase column names for simplicity

In [11]:
solar_exposure.columns = map(str.lower, solar_exposure.columns)
list(solar_exposure.columns)

['bureau of meteorology station number',
 'year',
 'month',
 'day',
 'daily global solar exposure (mj/m*m)']

Remove columns with a single value

In [12]:
for column in solar_exposure.columns:
    print(f'{column} has {solar_exposure[column].nunique()} unique values')
solar_exposure.drop(['bureau of meteorology station number'],axis=1,inplace=True)
solar_exposure.head(2)

bureau of meteorology station number has 1 unique values
year has 31 unique values
month has 12 unique values
day has 31 unique values
daily global solar exposure (mj/m*m) has 354 unique values

              year  month  day  daily global solar exposure (mj/m*m)
Product code
IDCJAC0016    1990      1    1                                  32.4
IDCJAC0016    1990      1    2                                  31.1

Seperate dates are useful but also cumbersome for filtering. Merging dates into 1 column.

In [13]:
solar_exposure['date'] = pd.to_datetime(solar_exposure[['year','month','day']])
solar_exposure.index = solar_exposure['date'] # set index as well.
solar_exposure.head(2)

            year  month  day  daily global solar exposure (mj/m*m)       date
date
1990-01-01  1990      1    1                                  32.4 1990-01-01
1990-01-02  1990      1    2                                  31.1 1990-01-02

Drop Nan Values

In [14]:
solar_exposure.info()
solar_exposure.dropna(axis=0, how='any', thresh=None, inplace=True)
solar_exposure.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11235 entries, 1990-01-01 to 2020-10-04
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   year                                  11235 non-null  int64
 1   month                                 11235 non-null  int64
 2   day                                   11235 non-null  int64
 3   daily global solar exposure (mj/m*m)  10759 non-null  float64
 4   date                                  11235 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 526.6 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10759 entries, 1990-01-01 to 2020-10-04
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   year                                  10759 non-null  int64
 1   month                                 10759 non-null  int64
 2   day                                   10759 non-null  int64
 3   daily global solar exposure (mj/m*m)  10759 non-null  float64
 4   date                                  10759 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 504.3 KB

In [15]:
print(f'Shape of Rainfall:		{rainfall.shape}')
print(f'Shape of Max Temps:		{max_temps.shape}')
print(f'Shape of Solar Exposure:	{solar_exposure.shape}')

Shape of Rainfall:		(2679, 6)
Shape of Max Temps:		(2681, 6)
Shape of Solar Exposure:	(10759, 5)

We need to use to use Rainfall as a our base file.

In [16]:
weather = pd.merge(rainfall, max_temps, how='left', left_index=True, right_index=True, suffixes=('_rf', '_mt'))

In [17]:
weather = pd.merge(weather, solar_exposure, how='left', left_index=True, right_index=True, suffixes=('_w', '_se'))

Clean up the file and remove redundant columns.

In [18]:
weather.columns

Index(['year_rf', 'month_rf', 'day_rf', 'rainfall amount (millimetres)',
       'quality_rf', 'date_rf', 'year_mt', 'month_mt', 'day_mt',
       'maximum temperature (degree c)', 'quality_mt', 'date_mt', 'year',
       'month', 'day', 'daily global solar exposure (mj/m*m)', 'date'],
      dtype='object')

In [19]:
weather = weather[['rainfall amount (millimetres)', 'quality_rf', 'maximum temperature (degree c)', 'quality_mt', 'daily global solar exposure (mj/m*m)']]

In [20]:
weather.info()
weather.head().append(weather.tail())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2679 entries, 2013-06-02 to 2020-10-04
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   rainfall amount (millimetres)         2679 non-null   float64
 1   quality_rf                            2679 non-null   object
 2   maximum temperature (degree c)        2677 non-null   float64
 3   quality_mt                            2677 non-null   object
 4   daily global solar exposure (mj/m*m)  2678 non-null   float64
dtypes: float64(3), object(2)
memory usage: 205.6+ KB

,rainfall amount (millimetres),quality_rf,maximum temperature (degree c),quality_mt,daily global solar exposure (mj/m*m)
date,,,,,
2013-06-02,5.0,N,15.7,Y,8.0
2013-06-03,0.2,N,14.8,Y,5.2
2013-06-04,0.2,N,15.0,Y,3.8
2013-06-05,0.0,N,14.6,Y,4.9
2013-06-06,0.0,N,17.3,Y,6.2
2020-09-30,0.6,N,19.4,N,13.0
2020-10-01,1.8,N,19.5,N,21.2
2020-10-02,0.0,N,26.0,N,22.0
2020-10-03,0.0,N,29.4,N,19.8
2020-10-04,0.0,N,NaN,NaN,8.4

We have Y/N columns that can be binarized, but NaN's must be respected

In [21]:
weather['quality_rf'] = weather['quality_rf'].map(dict(Y=1, N=0))
weather['quality_mt'] = weather['quality_mt'].map(dict(Y=1, N=0))
weather

,rainfall amount (millimetres),quality_rf,maximum temperature (degree c),quality_mt,daily global solar exposure (mj/m*m)
date,,,,,
2013-06-02,5.0,0,15.7,1.0,8.0
2013-06-03,0.2,0,14.8,1.0,5.2
2013-06-04,0.2,0,15.0,1.0,3.8
2013-06-05,0.0,0,14.6,1.0,4.9
2013-06-06,0.0,0,17.3,1.0,6.2
...,...,...,...,...,...
2020-09-30,0.6,0,19.4,0.0,13.0
2020-10-01,1.8,0,19.5,0.0,21.2
2020-10-02,0.0,0,26.0,0.0,22.0
2020-10-03,0.0,0,29.4,0.0,19.8
2020-10-04,0.0,0,NaN,NaN,8.4

Double check

In [22]:
print(f"Qualtiy RF and MT have {weather['quality_rf'].nunique()}/2 and {weather['quality_mt'].nunique()}/2  unique values")

Qualtiy RF and MT have 2/2 and 2/2  unique values

Finally, we want to convert solar_exposure values to UV index values (max 40 vs max 12)

In [23]:
weather['daily global solar exposure (mj/m*m)'] = [((i - 0) / (40 - 0)) * (12 - 0) + 0 for i in weather['daily global solar exposure (mj/m*m)']]

In [24]:
print(weather['daily global solar exposure (mj/m*m)'].max()) # Should not be more than 12.

10.23

## Fill missing values with multivariate imputer (Experimental)
We only have a couple of missing values, so it's worth a try.

In [25]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp = IterativeImputer(max_iter=10, random_state=0)
imp.fit(weather)
IterativeImputer(random_state=0)
X_test = weather
# the model learns that the second feature is double the first
imp_weather = np.round(imp.transform(X_test))
imp_weather = pd.DataFrame(imp_weather, columns=weather.columns, index=weather.index)
imp_weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2679 entries, 2013-06-02 to 2020-10-04
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   rainfall amount (millimetres)         2679 non-null   float64
 1   quality_rf                            2679 non-null   float64
 2   maximum temperature (degree c)        2679 non-null   float64
 3   quality_mt                            2679 non-null   float64
 4   daily global solar exposure (mj/m*m)  2679 non-null   float64
dtypes: float64(5)
memory usage: 205.6 KB

Rename columns to something more useable and final. Note: uv_index to reflect new scale.

In [26]:
imp_weather.columns = ['rainfall_mm', 'quality_rf', 'max_temp_c', 'quality_mt', 'uv_index']
imp_weather.head(2)

            rainfall_mm  quality_rf  max_temp_c  quality_mt  uv_index
date
2013-06-02          5.0         0.0        16.0         1.0       2.0
2013-06-03          0.0         0.0        15.0         1.0       2.0

### Save File!

In [34]:
imp_weather.to_csv('../data/weather.csv')

## Fetch New Weather from API

In [28]:
import requests

In [29]:
url = 'https://api.weather.bom.gov.au/v1/locations/r1r143/forecasts/daily'
response = requests.get(url)
weather_dict = response.json() # format as json
print(weather_dict.keys())

dict_keys(['data', 'metadata'])

In [30]:
tomorrow_max = weather_dict['data'][1]['temp_max']
rain = weather_dict['data'][1]['rain']['amount']['max']# - weather_dict['data'][0]['rain']['amount']['min']
uv = weather_dict['data'][1]['uv']['max_index']
q_rf = 1 # assuming quality data
q_mt = 1 # assuming quality data

## Forecast Max Temp with Random Forrest Regressor

In [31]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
y = imp_weather['max_temp_c']
X = imp_weather.drop(['max_temp_c'], axis=1)

regr = RandomForestRegressor(max_depth=3, random_state=42)
regr.fit(X, y)

RandomForestRegressor(max_depth=3, random_state=42)

In [33]:
[predicted_mt] = regr.predict([[rain, q_rf, q_mt, uv]]) # sbracket both sides to remove from list.
score = regr.score(X, y) # R^2 (coefficient of determination) regression score function.
print(f'The temperature forecast by the BOM tomorrow is {tomorrow_max} and by our model is {predicted_mt}, with {score:.2f}% accuracy')

The temperature forecast by the BOM tomorrow is 14 and by our model is 20.695690931780828, with 0.40% accuracy

# Head over to report.ipynb for the final result!

In [36]:
# fin